body{
    display: flex;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    height: 100vh; /* Use viewport height to cover the entire screen */
    margin: 0; /* Remove default body margin */
}

.game-ui{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    flex-direction: row;
}

.square{
    background-color: white;
    flex: 1 0 20%;
    aspect-ratio: 1/1;
    border: 1px solid black;
}